{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Lollipop - Coming Soon</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  </head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="{% url 'main:home' %}"><span>Lollipop</span></a></h1>
      </div>

      <div class="contact-link float-right">
        <a href="#contact" class="scrollto">Contact Us</a>
      </div>

    </div>
  </header><!-- End #header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <svg class="hidden">
        <symbol id="s-text">
          <text text-anchor="middle" x="50%" y="80%">Lollipop.</text>
        </symbol>
      
        <g class = "g-ants">
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
        </g>
      </svg>

      <h2>Coming soon.</h2>
      <!--<h2 class="word"></h2>-->
      <!--<div class="word"></div>-->
      <div class="countdown obj hidden" data-count="2024/01/10" data-template="%d days %h:%m:%s"></div>

      <form id="Notification" class="notification-form">
      {% csrf_token %}  
        <div class="row no-gutters obj hidden">
          <div class="col-md-6 form-group pr-md-1" style="margin: 0.1rem auto">
            <input type="text" name="name" class="form-control" id="nameNote" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group pl-md-1" style="margin: 0.1rem auto">
            <input type="email" class="form-control" name="email" id="emailNote" placeholder="Your Email" required>
          </div>
        </div>

        <div class="g-recaptcha"
          data-sitekey="6Le6BrUoAAAAAFMT8RicNDQs6xesNF5n6m4GGndS"
          data-callback="call"
          data-size="invisible">
        </div>


        <div class="text-center obj hidden">
          <button id="button-note" type="submit" class="button-Notify">
            Get notified!
          </button>
        </div>
      </form>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
    
        <div class="section-title hidden">
          <h2>Contact Us</h2>
        </div>

        <div class="row contact-info">

          <div class="col-md-4 con hidden">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <address>{{website_content.address}}</address>
            </div>
          </div>

          <div class="col-md-4 con hidden">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:{{website_content.phoneNumber}}">{{website_content.phoneNumber}}</a></p>
            </div>
          </div>

          <div class="col-md-4  con hidden">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:{{website_content.emailAddress}}">{{website_content.emailAddress}}</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <h5 class="text-center"></h5>
          <form id="contactForm" class="contact-form">
          {% csrf_token %} 
            <div class="row">
              <div class="col-md form-group con hidden">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your name" required>
              </div>
              <div class="col-md form-group mt-3 mt-md-0 con hidden">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your email" required>
              </div>
            </div>
            <div class="form-group mt-3 con hidden">
              <input type="text" name="subject" class="form-control" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3 con hidden">
              <textarea class="form-control" name="message" id="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="text-center con hidden" style="margin: 1rem auto">
              <button type="submit" class="button-Contact">
                Send Message
              </button>
            </div>
          </form>          
        </div>
      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright {% now 'Y' %} <strong><span>Lollipop</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="{{website_content.websiteURL}}">Lollipop</a>
      </div>
    </div>
  </footer><!-- End #footer -->

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/main2.js' %}"></script>
  <script src="{% static 'assets/js/scroll.js' %}"></script>

  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>

</html>